.nav-wrapper {
  padding-left: 5%;
  padding-right: 5%;
}

.profile-button {
  margin-top: 12%;
}

.parallax-section {
  height: 300px;
}

.year-range {
  margin: 3% 1% 0 3%;
}

h5 {
  margin-top: 2%;
  color: lightseagreen;
  text-align: center;
}

.Responsive-wrapper {
  margin-bottom: 5%;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
